* {
  box-sizing:border-box;
}
body {
    background: #f5c397;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.game-container {
    position: relative;
    width: 194px;
    height: 180px;
    margin: 0 auto;
    outline: 1px solid #000;
    /* scales game container by 2x and then shifts it
    down 50% of game container height*/
    transform: scale(3) translateY(50%) translateX(30%);
}
/* evenly multiplies pixels so graphics are enhanced*/
.game-container canvas {
    image-render: pixelated;
}

.TitleScreen, .GameOverScreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
}

.options {
    display: flex;
    flex-direction: column;
}

.option {
    font-size: 18px;
    cursor: pointer;
}

.selected {
    color: yellow;
    font-weight: bold;
}
