* {
    box-sizing:border-box;
}
body {
    background: #f5c397;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.game-container {
    position: relative;
    width: 352px;
    height: 198px;
    margin: 0 auto;
    outline: 1 px solid #fff;
    /* scales game container by 2x and then shifts it
    down 50% of game container height*/
    transform: scale(3) translateY(50%) translateX(30%);
}
/* evenly multiplies pixels so graphics are enhanced*/
.game-container canvas {
    image-render: pixelated;
}